@using Microsoft.EntityFrameworkCore;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3>Orders List</h3>
            <ul>
                <li><a href="/Home/Index">Home</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="contact_form_area p_100">
    <div class="container">
        <div class="main_title">
            <h2>Orders List</h2>
        </div>
        <div class="row">
            <table class="table" style="width: 80%">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>
                            Customer
                        </th>
                        <th>
                            Order Date
                        </th>
                        <th>Price</th>
                        <th>
                            Status
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Order item in ViewBag.order)
                    {
                        <tr>
                            <td>@item.OrderId</td>
                            <td>
                                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.CustomerId" asp-route-mod="view">@item.Customer.Name</a>
                            </td>
                            <td>
                                @item.OrderDate.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @{
                                    BakeryCakeContext _context = new();
                                    List<OrderItem> oi = _context.OrderItems.Include(x => x.Product).Where(x => x.OrderId == item.OrderId).ToList();
                                    decimal price = 0;
                                    foreach (var i in oi)
                                    {
                                        price += i.Product.UnitPrice * i.Quantity;
                                    }
                                    price += 5;
                                    @string.Format("{0:0.00}",price)

                                    <span>$</span>
                                }
                            </td>
                            <td>
                                @item.Status
                            </td>
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |*@
                                <a asp-action="Details" asp-route-id="@item.OrderId"><i class="fa fa-pencil"></i></a>
                                @{
                                    
                                    Order o = _context.Orders.FirstOrDefault(x => x.OrderId == item.OrderId);
                                    if (o.Status.Equals("Processing"))
                                    {
                                        <span> | </span>
                                        <a asp-action="Delete" asp-route-id="@item.OrderId"><i class="fa fa-times"></i></a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
