@{
    Layout = "_Layout";
    ViewBag.Title = "Blogs-Cake Bakery";
    ViewBag.active = 4;

}

<!--================End Main Header Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3>Blog</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Main Header Area =================-->
<!--================Blog Main Area =================-->
<section class="main_blog_area p_100">
    <div class="container">
        <div class="blog_area_inner">
            <div class="main_blog_column row">
                @foreach (var item in ViewBag.BlogsList)
                {

                    <div class="col-lg-6">
                        <div class="blog_item">
                            <div class="blog_img">
                                @*Can thay image*@
                                <img class="img-fluid" src="@item.image" alt="">
                            </div>
                            <div class="blog_text">
                                <div class="blog_time">
                                    <div class="float-left">
                                        <a href="#">@item.CreateDate.ToString("dd MMM. yyyy")</a>
                                    </div>
                                    <div class="float-right">
                                        <ul class="list_style">
                                            <li><a>Create By: @item.CreateByNavigation.Name</a></li>

                                            @*<li><a>Comments: </a></li>*@
                                        </ul>
                                    </div>
                                </div>
                                <a><h4>@item.BlogTitle</h4></a>
                                <p>@item.Description</p>
                                <a class="pink_more" asp-controller="Blogs" asp-action="Details" asp-route-id="@item.BlogId">Read more</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <nav aria-label="Page navigation example" class="blog_pagination">
                <ul class="pagination">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!--================End Blog Main Area =================-->
